{% extends "base.html" %}
{% block start %}
<style>
  /* Style for the About Us section */
  .about-section {
    background-color: #f2f2f2;
    padding: 60px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .about-section h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }

  .about-section p {
    font-size: 18px;
    color: #666;
  }
</style>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>NDTV.com provides latest news from India and around the world. Get breaking news alerts from India and follow today's live news updates in field of politics. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error libero, facilis fugiat quia rerum in! Eius accusantium velit esse dignissimos iure, aperiam eos nisi, et nulla error autem aliquam ipsam!</p>
</div>
{% endblock %}
