{% extends "base.html" %}
{% block start %}
<style>
  /* Style for the About Us section */
  .about-section {
    background-color: #f2f2f2;
    padding: 60px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .about-section h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }

  .about-section p {
    font-size: 18px;
    color: #666;
  }
</style>

<div class="about-section">
  <h1>Contact Us Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae optio nobis perspiciatis quaerat quia rerum voluptate ratione ipsum? Eum odit praesentium provident architecto aliquam delectus harum nulla expedita vero nisi!</p>
</div>
{% endblock %}
