{% extends "base.html" %}
{% block start %}
<div class="container mt-5 card shadow-lg">
  <h2>Articles</h2>
  <table class="table table-striped" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Subtitle</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Images</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for publish_article in publish_articles %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ publish_article.author}}</td>
        <td>{{ publish_article.title|truncatechars:30 }}</td>
        <td>{{ publish_article.subtitle|truncatechars:30}}</td>
        <td>{{ publish_article.description|truncatechars:50 }}</td><!-- Truncate to 100 characters -->
        <td>{{ publish_article.status }}</td>
        <td><img src="/media/{{ publish_article.thumbnail }}" style="height: 150px;" class="img-thumbnail"></td>
        <td>
          <a href="/view_article/{{ publish_article.id }}/" class="btn btn-dark mb-2">View</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
